
.login-bg {
  height: 100vh;
  background-image: url('../src/login-bg.png');
}

.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px){
  .login-bg {
    display: none;
  }
  .login {
    align-items: self-start;
  }
}

.logo {
  padding: 10vh 0 5vh 0;
}

a {
  text-decoration: none;
}